# Spell Bee Competition

## Task 1 - Adding 5 more students:

In [5]:
data= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

In [7]:
for i in range(5):
    names = input("enter the name : ")
    data.append(names)

enter the name : Itachi
enter the name : Zoro
enter the name : Luffy
enter the name : Madara
enter the name : Obito

In [8]:
print(data,end=" ")

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', '', '', '', '', '', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

Conclusion - Appended 5 new names into the data and printed the data

## Task 2 - Check the names of the students who signed up later for the competition:

In [9]:
print(data)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', '', '', '', '', '', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

In [12]:
data.reverse()
print(data)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', '', '', '', '', '', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

Conclusion - Using the reverse function printed the data in the reverse order with the newly added names in front

## Task 3 - Check the names of the students who signed up later for the competition without reverse function:

In [13]:
data = ['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony',
        'Mark Thomas', 'Kenny Peterson','Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 
        'Itachi','Zoro', 'Luffy', 'Madara', 'Obito']

In [14]:
print(data)

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

In [15]:
print(data[-5:])

['Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

Conclusion - printed newly added names without reversal function

## Task 4 - Check any duplicates of names and create a new list that does not have repeated:

In [16]:
print(data,end=" ")

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

In [17]:
final_list = ['Mark Antony','John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson',
              'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas',
              'Katy Perry', 'Alexanderia Peterson', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

In [18]:
print(final_list, end = " ")

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

Conclusion - Taken out the duplicate and created a list final_list without duplicates

# Task 5 - The names of students in final_list in alphabatical order

In [19]:
print(final_list,end = " ")

['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

In [20]:
print(sorted(final_list))

['Alexander Thomas', 'Alexanderia Peterson', 'Bret Lee', 'Florida Thomson', 'Itachi', 'Janice Ken', 'Jim Nick', 'Joe Cook', 'John Chan', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Luffy', 'Madara', 'Mark Antony', 'Mark Thomas', 'Matt Antony', 'Obito', 'Zoro']

Conclusion - Listed the names in final_list in alphabatical-order

# Task 6 - 2nd , 12th and last position in final_list

In [21]:
final_list = ['Mark Antony','John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson',
              'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas',
              'Katy Perry', 'Alexanderia Peterson', 'Itachi', 'Zoro', 'Luffy', 'Madara', 'Obito']

In [22]:
len(final_list)

19

In [23]:
final_list[1]

'John Chan'

In [24]:
final_list[11]

'Alexander Thomas'

In [25]:
final_list[-1]

'Obito'

Conclusion - Found the names in the 1st,11th and last position.

# Task 7 - Write a program to count the number of integers between 555 and 678 that are divisible by 7

In [26]:
count = 0
for i in range(555,677):
    if i % 7 == 0:
        print(i,end = " ")
        count+=1
        print(count)

560 1
567 2
574 3
581 4
588 5
595 6
602 7
609 8
616 9
623 10
630 11
637 12
644 13
651 14
658 15
665 16
672 17

Conclusion - The count of found as 17 for numbers from 555 and 678 which are divisible by 7

# Task 8 - First 30 natural numbers but skips all the multiples of n.

In [98]:
n=int(input("Enter a natural number : "))
for i in range(1,31):
    if i % n != 0:
        print(i)

Enter a natural number : 3
1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29

Conclusion - Printed the natural numbers from up to 30 without the mutiples of user inputted integer.

# Task 9 - Sum of corresponding first list and second list

In [3]:
first = [1,2,3]
second = [10,20,30]

third = []

for i in range(len(first)):
    third.append(first[i] + second[i])

print(third)

[11, 22, 33]

In [4]:
third

[11, 22, 33]

Conclusion - The sum of the numbers in first list corresponding to second list is found and they are being added to a new list.