# Task 1 -Creating variables

### a)Create a variable rollno and assign an integer value to it. print the value of rollno,the id and the datatype

In [26]:
rollno=19

In [27]:
print(rollno)

19

In [3]:
id(rollno)

140713939604840

In [4]:
type(rollno)

int

Conclusion - Created a variable rollno and assainged a value then found the id and the datatype

### b)Create a variable firstname and assign a string value to it.print the value of firstname ,the id and the datatype

In [28]:
firstname='Itachi'
print(firstname)
id(firstname)
type(firstname)

Itachi

str

In [6]:
id(firstname)

2184691924272

Conclusion - created a firstname as a string value and found the data type and id of it

### c)Create a variable lastname and assign a string value to it.print the value of firstname ,the id and the datatype

In [20]:
lastname='Uchiha'
print(lastname)
id(lastname)
type(lastname)

Uchiha

str

In [8]:
id(lastname)

2184720849136

Conclusion -  Created a last name as a string value and found the data type and id of it

### Create a variable maxmarks and assign the value as 50 to it.print the value of max marks,the id and the datatype

In [1]:
maxmarks = 50

In [3]:
print(maxmarks)
type(maxmarks)

50

int

In [4]:
id(maxmarks)

140715396667720

Conlusion - created a value for maxmarks and assigned it to 50..then the tpe and id of it is found.

# Task 2 - Naming a variable

## execute the expressions

In [15]:
2var = 2

SyntaxError: invalid decimal literal (2593071960.py, line 1)

In [17]:
var1=2

In [18]:
var1

2

In [21]:
var 1=2

SyntaxError: invalid syntax (3192978743.py, line 1)

In [22]:
var$2=2

SyntaxError: invalid syntax (661466017.py, line 1)

Conclusion - only the var1=2 is correct...other syntax are wrong as variable cant take space,special symbol or start with numeric characters

# Task 3 - Assigning values to variable

In [25]:
Class=15

In [26]:
Class

15

In [27]:
class=14

SyntaxError: invalid syntax (1944381924.py, line 1)

Conclusion - as class is a keyword it cannot be assigned as a variable

In [29]:
DEF=13

In [31]:
DEF

13

In [34]:
def=12

SyntaxError: invalid syntax (205512491.py, line 1)

Conclusion - as def is a keyword it cannot be assigned as a variable

In [36]:
a=TRUE

NameError: name 'TRUE' is not defined

In [37]:
b=false

NameError: name 'false' is not defined

Conclusion - both are error as the words are all in caps and small..only the first letter should be in caps for boolein.

# Task 4 - using id()

## a)Create a variable named marks and assign it to a float value between 0 and 100. print the value ,id and datatype

In [38]:
marks=92.5

In [39]:
marks

92.5

In [40]:
id(marks),type(marks)

(2184733351792, float)

Conclusion - Created a float value for marks and printed its value,id and type

## b)change the value of marks to any other float value between 0 and 100.print the value of marks,the id and the datatype

In [41]:
marks=95.2

In [42]:
print(marks)

95.2

In [43]:
id(marks),type(marks)

(2184733349872, float)

Conclusion - Assigned a new float value to the same variable marks and found its id and type

## c)Is the id for marks variable in the last two questions the same or different

Conclusion - It is different as both are of different float values

# Task 5 - Formatting the output

## a)define a variable maxmarks and assaign it to a value 100.divide marks by max marks.print the output as percentage

In [44]:
maxmarks=100

In [59]:
print((marks/maxmarks)*100)

95.2

## b)print the value of the variable fullname by joining firstname and lastname

In [29]:
firstname='Itachi'
lastname='Uchiha'

In [30]:
fullname=firstname+" "+lastname

In [31]:
fullname

'Itachi Uchiha'

## c) print the value of the variable fullname  with the text "scored" ,followed by the percentage of marks

In [41]:
print((fullname,"scored",95.2,"%"))

('Itachi Uchiha', 'scored', 95.2, '%')

Conclusion - Assigned a maxmarks as 100 concadinated firstname and lastname as fullname and printed it as fullname scored and marks

# Task 6 - Creating data structures

## a) use a variable rollno as a key and variable full name as a value to create a dictionary data

In [33]:
D1={rollno:fullname}

In [34]:
D1

{19: 'Itachi Uchiha'}

Conclusion - Created a dictionary by using rollno as a key and fullname as a variable

## b)Use the variables rollno,fullname and marks as the value to create a list data structure

In [42]:
L1=[19,fullname,95.2]

In [43]:
L1

[19, 'Itachi Uchiha', 95.2]

Conclusion - Created a list by using rollno,fulname and marks

# Task 7 - Arithmetic operations

## Execute the following expressions

In [44]:
1+"2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
"1"+"2"

'12'

In [46]:
1/2

0.5

In [47]:
1//2

0

Conclusion - A string value and a int cannot be added.Two strings on addition gets concadinated.on division it shows even in float as of floor division it only shows int values and omits the value after decimal point

# Task 8 - Logical operations

## Execute the following commands

In [48]:
True and True

True

In [49]:
True and False

False

In [50]:
False or True

True

In [51]:
False or False

False

Conclusion - And operator gives value only if both variables are same and Or operator gives value when any one satisfies the condition

# Task 9 - Identity and Membership operators

## compare firstname and the fullname using the in operator

In [52]:
firstname in fullname

True

Conclusion - It is True because firstname is present in fullname

## compare firstname and the fullname using the is operator

In [53]:
firstname is fullname

False

Conclusion - It is False because firstname cannot be a fullname

# Task 10 - Associativity

In [57]:
a=4

In [58]:
b=3

In [59]:
c=2

## Print the value of d

In [60]:
d=a**b+c

In [61]:
d

66

Conclusion - First modulo takes place and followed by addition.

## Print the value of e

In [63]:
e=a**(b+c)

In [64]:
e

1024

Conclusion - First the addition inside the brakets take place then followed by modulo

## explain why the values of d and e are different

Conclusion - The values of d and e are different because of operator precedence PEMDAS rule.