# Task 1 - Searching a List

In [6]:
mynames = ["Joe","Zoe","world","Brad","Aneglina","world","Zuki","Tom","Paris","world","magic"]
if "USA" in mynames:
    PRINT(True)
else:
    print(False)

False

Conclusion - The output is false as "USA" is not present in mynames.

# Task 2 - Frequency counts of elements in lists

In [6]:
mynames = ["Joe","Zoe","world","Brad","Aneglina","world","Zuki","Tom","Paris","world","magic"]
count_of_world = mynames.count("world")
print("count of worlds :",count_of_world)

count of worlds : 3

Conclusion - From this we can found the count of world as 3.

# Task 3 - Looping over a lists

In [60]:
numlist=list(range(1,30))
even_count = 0
odd_count = 0

for num in numlist:
    if num % 2 ==0:
        even_count += 1
    else:
        odd_count += 1
print("Total even numbers:",even_count)
print("Total even numbers:",odd_count)

Total even numbers: 14
Total even numbers: 15

Conclusion - From this we found the number of even and odd numbers from 1 to 30.

# Task 4 - Appending elements to a list

In [81]:
numlist=list(range(1,30))
for a in range(2,11,2):
    print(a)

2
4
6
8
10

In [ ]:
el=[]

In [68]:
el

[]

In [69]:
el.append(2)

In [74]:
el.append(4)

In [75]:
el.append(6)

In [76]:
el.append(8)

In [77]:
el.append(10)

In [78]:
el

[2, 4, 6, 8, 10]

Conclusion - Appended the first five even numbers in a blank list.

# Task 5 - Arithematic operations on list

In [3]:
numlist=[range(1,30)]
for num in range(1,30,2):
    print(num,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [4]:
num =[1,3,5,7,9,11,13,15,17,19,21,23,25,27,29]
num[-2:]

[27, 29]

Conclusion - Found the last two odd number from the range of 1-30

# Task 6 - Appending two lists

In [1]:
x=[]
y=[]

In [2]:
for i in range(5):
    string=input("enter the characters :")
    x.append(string)

for i in range(3):
    num=int(input("enter the number :"))
    y.append(num)
    
x.extend(y)
print("combined list of x and y :",x)

enter the characters :A
enter the characters :C
enter the characters :S
enter the characters :F
enter the characters :R
enter the number :1
enter the number :2
enter the number :3
combined list of x and y : ['A', 'C', 'S', 'F', 'R', 1, 2, 3]

Conclusion - Created a list of 5 strings and a new list of 3 integers.Combined both lists in a single lists.

# Task 7 - Populating elements in a lists

In [5]:
list_a=[i**2 for i in range(1,11)]
list_b=[i**2 for i in range(30,41)]
print("List A :",list_a)
print("List B :",list_b)

List A : [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
List B : [900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

Conclusion - The squares of the numbers 1-10 and 30-40 are being found.

# Task 8 - Iterations in Python using "FOR" loop

In [7]:
num = int(input("enter the number :"))
for a in range(1,11):
    print(num ,"x", a ,"=",num*a)

enter the number :6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Conclusion - The multiplication table for the user input number is being found.