# Task 1 - Factorial of a number

In [4]:
n = int(input("Enter a number: "))
factorial = 1
while (n>0):
    factorial = factorial * n
    n = n-1

print("The factorial is : ",factorial)

Enter a number: 5
The factorial is :  120

Conclusion - The code is for finding the factorial of the given number.

# Task 2 - Prime numbers

In [4]:
numbers = [50, 51]

for num in numbers:
    if num <= 1:
        prime_status = "not prime"
    elif num <= 3:
        prime_status = "prime"
    elif num % 2 == 0 or num % 3 == 0:
        prime_status = "not prime"
    else:
        prime_status = "prime"
    
    print(num,"is",prime_status)

50 is not prime
51 is not prime

Conclusion - The code is for finding where the given number is prime number or not

# Task 3 - Sum of all digits

In [2]:
number = int(input("Enter a five-digit number: "))

if 10000 <= number <= 99999:
    digit_sum = 0
    while number > 0:
        digit_sum += number % 10
        number //= 10

    print("Sum of digits:", digit_sum)
else:
    print("Please enter a valid five-digit number.")

Enter a five-digit number: 23243
Sum of digits: 14

Conclusion - From the code it finds the sum of the 5 digit number entered.

# Task 4 - Fibonacci series

In [29]:
a = 0
b = 1
count = 0

while count < 7:
    print(a, end=" ")
    a, b = b, a + b
    count += 1

0 1 1 2 3 5 8

Conclusion - The fibonacci series for first 7 numbers are shown

# Task 5 - Adding two tuples

In [15]:
t1 = (1,2,3)
t2 = (4,5,6)

In [16]:
id(t1)

1829226804608

In [17]:
id(t2)

1829226801728

In [18]:
t1 = t1 + t2

In [19]:
t1

(1, 2, 3, 4, 5, 6)

In [20]:
id(t1)

1829226500960

In [21]:
id(t2)

1829226801728

Conclusion - Created two tuples t1 and t2..typed it ids.then t2 is joined with t1 and the id of t1 differs.

# Task 6 - Inserting data into set

In [36]:
m = {10,20,30,40,50}
n = [33,40,55,60,70]

In [37]:
m

{10, 20, 30, 40, 50}

In [38]:
n

[33, 40, 55, 60, 70]

In [39]:
m.add(33)

In [40]:
m

{10, 20, 30, 33, 40, 50}

In [41]:
m.add(40)

In [42]:
m

{10, 20, 30, 33, 40, 50}

In [43]:
m.add(55)

In [44]:
m

{10, 20, 30, 33, 40, 50, 55}

In [45]:
m.add(60)

In [46]:
m

{10, 20, 30, 33, 40, 50, 55, 60}

In [47]:
m.add(70)

In [48]:
m

{10, 20, 30, 33, 40, 50, 55, 60, 70}

Conclusion - Created an set of values m and list of values n.Appened the list values to set.As set dont contaion duplicates,no duplicates added to the set.

# Task 7 - Iterating over a Dictionary data structure

In [4]:
data_set = {}
size = int(input("Enter the size :"))
i = 0

while i<size:
    language = input("Enter the language :")
    number = int(input("Enter the number : "))
    data_set[language] = number 
    i = i+1
    
print (data_set)

for key,value in data_set.items():
    if value %2 == 0:
        print(f"{key}:{value}")

Enter the size :4
Enter the language :Python
Enter the number : 1
Enter the language :Data
Enter the number : 2
Enter the language :Excel
Enter the number : 3
Enter the language :SQL
Enter the number : 4
{'Python': 1, 'Data': 2, 'Excel': 3, 'SQL': 4}
Data:2
SQL:4

Conclusion - creacted a dictionary of 4_keys and 4_values. and printed it.finally printed the data in dictionary where the key is even.

# Task 8 - Population a dictionary data structure

In [15]:
D = {}

for i in range (1,16):
    D[i] = i*i
    print(i ,":",i*i,",",end=" ")

1 : 1 , 2 : 4 , 3 : 9 , 4 : 16 , 5 : 25 , 6 : 36 , 7 : 49 , 8 : 64 , 9 : 81 , 10 : 100 , 11 : 121 , 12 : 144 , 13 : 169 , 14 : 196 , 15 : 225 ,

In [16]:
D.update({100:10000})
print("The new set after updating is",D)

The new set after updating is {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 100: 10000}

Conclusion - Created a dictionary by a value and its square for first 15 natural numbers . Then added {100;10000} into it.